.board {
  width: 100%;
}

.columns {
  width: 100%;
  display: flex;
}

.column {
  background: #0f0f0f;
  margin-right: 20px;
  padding: 10px;
  border-radius: 10px;
  width: 20%;
}

.column__title {
  margin: 0 0 20px 0;
  padding-left: 10px;
  font-size: 20px;
}

.card {
  background: #414141;
  border: 1.5px solid #414141;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px 7px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.7s;
}

.card:hover {
  border-color: #fff;
}

.card:hover .card__exit {
  opacity: 1;
}

.card__exit {
  border: none;
  border-radius: 10px;
  padding: 5px 7px;
  cursor: pointer;
  opacity: 0;
  transition: 0.7s;
  background: none;
}

.card__exit:hover {
  background: #dadada3f;
}

.card__checkbox {
  cursor: pointer;
}

.column__btn-add {
  width: 100%;
  border: none;
  background: none;
  display: flex;
  background: #0f0f0f;
  border: 1.5px solid #0f0f0f;
  padding: 5px 7px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.7s;
}

.column__btn-add:hover {
  background: #dadada3f;
  border: 1.5px solid #dadada3f;
}
